extends layout

block content
    
    p Welcome to #{title}
    p This is an example of web service call to http://awesomeservice.apphb.com with sample input data from the mi9 exercise
    p This application is hosted on http://mi9client.heroku.com, written with Node.js on Express and Jade template and uses JQUERY for Ajax calls.
    p How does it work?
    p The initial input data is being read with a GET ajax call from a Node.js api from this service on http://mi9client.heroku.com/samplerequest and updates input DOM element.
    p The input data then is POSTed to the service on http://awesomeservice.apphb.com via ajax and updates the output DOM element.
    p If any error occures, the error DOM element gets updates.
    
    div.input
        p Raw input read from ...
        p#input
    div.output
        p Output from  service
        p#output
    div.error
        p Error Messages
        p.error No Error
    div
        p.copyright This application is written by Mehdi Romi (mehdi.romi@gmail.com) and uses free resources for development and hosting.
    script.
        $(document).ready(function() {
            ReadDataAndPost();
        });
