body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.input
    background-color:blanchedalmond
    border:solid 1px black

.output 
    background-color:ButtonFace
    border: solid 1px black
.error 
    background-color:yellow
    border: solid 1px black
